* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


.up {
  width: 30px;
  position: absolute;
  bottom: 50px;
  right: 20px;
}

.up-ic {
  width: 15px;
  height: 15px;
  color: white;
}

.slick-next:before {
  display: none;
}

/* .slick-dots li button:before{
  color: white;
} */
.slick-dots li button{
  width:40px;
  height:40px;
}

@media only screen and (max-width:320px) {
  .up {
    right: 40px;
    position: absolute;
    bottom: 90px;
  }

  .up-ic {
    width: 50px;
    height: 50px;
  }
}
